img {
	height:1em; display:inline;
}

p {
	display: inline;
}

#content {
	background: #76B3FA;
	border-radius: 20px;
	padding: 10px 25px;
	color: #fff;
	text-decoration: none;
	margin: 0 5px;
	
	width: 40%;
	margin: 2px auto;
}

h2 {
	text-align: center; 
    vertical-align: middle;
	height: auto;
}

.boneInput {
	margin: 1px 0;
}

#CalculateExp {
      color: #0099CC; /* Text color */
      background: #0099CC; /* Remove background color */
      border: 2px solid #0099CC; /* Border thickness, line style, and color */
      border-radius: 10px; /* Adds curve to border corners */
      text-decoration: none;
      text-transform: uppercase; /* Make letters uppercase */
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
}
#CalculateExp {
      background-color: #0099CC; 
      color: black; 
      border: 2px solid #008CBA;
}
#CalculateExp:hover {
      background-color: #008CBA;
      color: white;
 }

#response {
	background: #76B3FA;
	/*font-weight: bold;*/
	border-radius: 20px;
	padding: 10px 25px;
	/*color: #fff;*/
	text-decoration: none;
	margin: 0 5px;
	border: 1px solid blue;
	
	width: 40%;
	margin: 2px auto;
}

nav {
    background-color: #333;
    margin: 0;
    overflow: hidden;
	margin-top: -10px;
    margin-left: -10px;
	width: 101%;
}

nav ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    /* This allow us to arrange list items in a row, without using float */
    display: inline-block;
    list-style-type: none;
}
/* Create a style for the first level items */
nav > ul > li > a {
    color: #aaa;
    background-color:#333;
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
	font-weight: bold;
}

#NewLevel {
	font-weight: bold;
}